@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    overflow-x: hidden;
}

.banner{
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.container{
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    width: 80%;
    margin: 0 auto;
}

.container h2{
    color: #13183f;
    font-weight: bold;
}

.container .but{
    border-radius: 50px;
    padding: 1em 2em;
    background-color: #13183f;
    color: #fff;
    cursor: pointer;
    border: none;
}

.container .but:hover{
    background-color: #666CA3;
}


.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.intro .title{
    color: #13183f;
    font-size: 1.4rem;
    line-height: 1.4;
}

.message{
    color: #e8d8d8;
    max-width: 400px;
    margin: 1.9rem 0 2.5rem;
}

.intro button{
    border-radius: 50px;
    padding: 1em 2em;
    background-image: linear-gradient(to bottom right, #FF6F48, #F02AA6);
    color: #fff;
    cursor: pointer;
    border: none;
}

.intro button:hover{
    background-image: linear-gradient(to bottom right, #f1b08a, #f389c0);
}

.item{
    position: relative;
    
}

.main{
    width: 125%;
    transform: translate(8%,-40px);
    position: relative;
    z-index: 2;
    
    
    
}

.overlay{
    width: 100%;
    /*height: 117%;*/
    height: 100%;
    position: absolute;
    top: -22%;
    right: -45%;
    z-index: 1;
}

.cardbox{
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(100px, 1fr);
}

.card-1{
    color: #fff;
    background-image: linear-gradient(to bottom right, #FF6F48, #F02AA6);
    border-radius: 10px;
    cursor: pointer;
    padding: 30px 30px;
}

.card .card-tle{
    padding-bottom: 10px;
}

.card{
    color: #13183f;
    background-color: #979797;
    border-radius: 10px;
    cursor: pointer;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.9);
    position: relative;
}

.icon{
    position: absolute;
    top: -2px;
    left: 10%;
    right: 90%;
    transform: translate(10%,-50%);
}
.card-title{
    margin-bottom: 10px;
}

.info{
    color: #83869A;
    margin-bottom: 20px;
}

.link{
    color: #d3324f;
}

.link:hover{
    color: #f7a5b4;
}

.footer{
    margin-top: 5rem;
    width: 100%;
    height: 5rem;
    background-color: #13183f;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.foot{
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;

    width: 80%;
    margin: 0 auto;
}

.foot .btn{
    border-radius: 50px;
    padding: 1em 2em;
    background-image: linear-gradient(to bottom right, #4851FF, #F02AA6);
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-image: linear-gradient(to bottom right, #9ca0f9, #f5b0dc);
}

.text{
    color: #fff;
}

@media screen and (max-width: 800px) {
    
    

}




/* Mobile Phones (up to 600px) */
@media (max-width: 600px) {
    .hero{
        padding-top: 20px;

    }

    .hero .container{
        grid-template-columns: 1fr;
    }

    .main{
        transform: none;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cardbox{
        grid-template-columns: 1fr;
    }

    .overlay{
        display: none;
    }
}

/* Tablets (601px - 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  

    .hero .container{
        grid-template-columns: repeat(2, 1fr);
    }


    .cardbox{
        grid-template-columns: repeat(2, 1fr);
    }
}
